# Prime_no

Immutable and mutable:
when we try to make changes in any variables or string/tuple, if memory address of the varibale changes then its is immutable means we can not chnage values of variable 

mutable: when we change the value of variable and the memory addresss remains same then the variable is mutable

In [7]:
n=int(input("Enter the number"))

for i in range(n):
    if i>1:
        if n%i==0:
            print(" n number is not prime")
            break
        
else:
    print("prime")

Enter the number4
 n number is not prime

# Amstrong_no

In [14]:
n=153
no=str(n)
order=len(no)
total=0
for i in no:
    total+=int(i)**(order)
    
print(total)    
if total==n:
    print("number is asmtrong")
else:
    print("not")

153
number is asmtrong

In [6]:
l=[153,123,49]

# for i in l:
#     order=len(str(i))
#     no=str(i)
#     total=0
#     for j in no:
#         total=int(j)**(order)
#     print(total)

l1=list(map(str,l))

for i in l1:
    total=0
    for j in i:
        total+=int(j)**(len(i))
    if total==int(i):
        print("no. is am")
    else:
        print("not")

no. is am
not
not

# factorial

In [1]:
num=4
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

24

# fabonaaci Series

In [4]:
a=0
b=1
num=10
for i in range(num):
    print(a)  #0
    total=(a+b) #0+1
    a=b
    b=total

0
1
1
2
3
5
8
13
21
34

# List 1

In [38]:
L1 = [100, 200, 300, 400, 500]
L1[::-1]

[500, 400, 300, 200, 100]

In [5]:
l21=[1,2,3,4]
l23=[1,3,4,5]

l67=[i for i in l21 if i not in l23]
l67

[2]

In [45]:
# l1=[]
# for i in range(150,251):
#     if i%2==0:
#         if i%4==0:
#             l1.append(i)
# print(l1)

l12=[i for i in range(150,251) if i%2==0 and i%4==0]
print(l12)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

In [14]:
l2=[1, 4, 9, 16, 25, 36, 49]

sqrt_l=[i**0.5 for i in l2]
sqrt_l=list(map(int,sqrt_l))
sqrt_l

[1, 2, 3, 4, 5, 6, 7]

In [50]:
a = [5, 6,7]
b = [0, 1]
output=[]
for i in a:
    for j in b:
        s=str(i)+str(j)
        output.append(int(s))
output

[50, 51, 60, 61, 70, 71]

In [61]:
a1 = [10, 20, 30, 40]
b1 = [100, 200, 300, 400]

revb1=b1[::-1]

for i,j in zip(a1,revb1):
    print(i,j)

10 400
20 300
30 200
40 100

In [63]:
a2 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

output1=[i for i in a2 if i!=""]
output1

['Ashish', 'Atharva', 'Amit', 'Revati']

In [89]:
b2 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

b2[2][2].append(7000)
print(b2)

a3=["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

subList = ["h", "i", "j"]

a3[2][1][2].extend(subList)
a3

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [101]:
statemnt="Welcome to iacsd we are here conduction courses of to dac and dbda"

l=statemnt.lower().split(" ")
l1=list(set(l))
dic={}
for i in l1:
    dic.update({i:l.count(i)})
    
dic

{'to': 2,
 'here': 1,
 'dac': 1,
 'conduction': 1,
 'dbda': 1,
 'and': 1,
 'welcome': 1,
 'of': 1,
 'iacsd': 1,
 'courses': 1,
 'are': 1,
 'we': 1}

In [54]:
statemnt="Welcome to iacsd we are here conduction courses of to dac and dbda"

l=statemnt.lower().split(" ")
#l1=list(set(l))
dic1={}

for i in l:
    dic1.update({i:len(i)})
    
dic2={}
count=0
for i in dic1:
    if dic1[i]==2:
        count+=1
        dic2[2]=count
    
dic2

{2: 3}

In [114]:
l=[1,2,6,8,1,2,5,8,5,5,5]
l1=list(set(l))
dic1={}
l2=[]
for i in l1:
    dic1.update({i:l.count(i)})

for i in dic1.values():
    l2.append(i)
max(l2)

for i in dic1:
    if dic1[i]==max(l2):
        print(i)

5

In [5]:
l=[20,56,4,8,20,6,9,4,8,6,9,'a','g','a','c','d','e']

l1=list(set(l))
print(l1)
for i in l1:
    if isinstance(i,str):
        continue
    else:
        x=l.count(i)
        print("count of {} is {}".format(i,x))

[4, 'c', 6, 8, 9, 'g', 20, 56, 'd', 'e', 'a']
count of 4 is 2
count of 6 is 2
count of 8 is 2
count of 9 is 2
count of 20 is 2
count of 56 is 1

In [15]:
str1="aksh45snkjwnasx69ac7ascxa5sc1a3xx21ac"
l1=list(str1)

str_list=list(set(l1))
print(str_list)
for char in str_list:
    if char.isalpha():
        x=l1.count(char)
        print("count of {} is {}".format(char,x))

['9', 's', 'j', 'h', '4', 'a', 'k', 'w', '5', '6', '7', 'x', 'n', '3', '2', '1', 'c']
count of s is 5
count of j is 1
count of h is 1
count of a is 7
count of k is 2
count of w is 1
count of x is 4
count of n is 2
count of c is 4

# ******String******

In [1]:
sample_input="goggle.com"
sample_list=list(sample_input)

distint_list=list(set(sample_list))
char_count={}
for char in distint_list:
    char_count.update({char:sample_list.count(char)})
    
char_count

{'e': 1, '.': 1, 'l': 1, 'm': 1, 'g': 3, 'o': 2, 'c': 1}

In [14]:
def new_pro(s1):
    s1=str(s1)
    if len(s1)>=2:
        output=s1[:2]+s1[-2:]
        return output
    else:
        return "Empty String"

In [19]:
new_pro("w3")

'w3w3'

In [42]:
def change(s2):
    l=list(s2)
    for i in range(1,len(l)):
        if l[i]==l[0]:
            l[i]="$"
    return "".join(l)

In [43]:
change("reatart")

'reata$t'

In [52]:
def char_snap(a,b):
    
    new_a=b[:2]+a[2:]
    new_b=a[:2]+b[2:]
    return new_a+ ' '+new_b

char_snap('abc','xyz')

'xyc abz'

In [60]:
def add_ing(string1):
    
    if len(string1)>= 3 and string1.endswith("ing"):
        string1+='ly'
        return string1
    if len(string1)>=3:
        string1+='ing'
        return string1
    else:
        return string1
        

add_ing("ab")

'ab'

In [63]:
n=10
l=[]
    
for i in range(1,n+1):
    l.append(str(i))
    
new_word="".join(l)
new_word

'12345678910'

In [126]:
def not_poor(str1):
    snot = str1.find('not')
    spoor = str1.find('poor')
    if spoor > snot:
        str1 = str1.replace(str1[snot:(spoor+4)], 'good')
        return str1
    else:
        return str1
    
        
not_poor('lyrics is not that poor')

'  good lyrics is good'

In [125]:
statement="Write a Python function that takes a list of words and return the longest word and the length of the longest one"

l=statement.split(" ")
l1=list(set(l))
l2=[]
word_len={}
for i in l1:
    word_len.update({i:len(i)})

for values in word_len.values():
    l2.append(values)
    
max_no=max(l2)

for i in word_len:
    if word_len[i]==max_no:
        print(i,max_no)

function 8

In [99]:
stat="Write a Python function that takes a list of words and return the longest word and the length of the longest one"
l=stat.split()
l1=[]
for i in l:
    l1.append(len(i))
mx=max(l1)
for i in l:
    if len(i)==mx:
        print(i,mx)

function 8

In [106]:
# input1=int(input("enter the number"))
input1=3412
st=list(str(input1))
new_list=[]
from itertools import permutations
for i in range(1,len(st)+1):
    pr=permutations(st,i)
    for  j in pr:
        new_list.append(list(j))
new_list

l=list(map(lambda x: "".join(x),new_list))
l=list(map(int,l))

l1=list(filter(lambda x:x%2!=0,l))
print(l1)

[3, 1, 31, 43, 41, 13, 23, 21, 341, 321, 431, 413, 423, 421, 143, 123, 231, 243, 241, 213, 3421, 3241, 4321, 4123, 4231, 4213, 1423, 1243, 2341, 2431, 2413, 2143]

In [110]:
om=[1,2,3,4,5,6,7,8,9]

In [112]:
even_no=[str(i) for i in om ]
even_no

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [134]:
s='akshay'
lno=s[-1]
l=list(s)
l[-1]=l[0] 
l[0]=lno
l

['y', 'k', 's', 'h', 'a', 'a']

In [138]:

def html(sub_string,string):
    update_string='<'+sub_string+'>'+string+'</'+sub_string+'>'
    return update_string

html('b','Python Tutorial')

'<b>Python Tutorial</b>'

In [152]:
a=chr(97)
string="python"
for char in string:
    print(ord(char)-96,end=" ")

16 25 20 8 15 14

In [8]:
n=5
l=[i**2 for i in range (n)]
for i in l:
    print(i)
    
min(l)

0
1
4
9
16

0

In [4]:
year=int(input("enter the year"))

if ((year%4==0)and(year%100!=0))or (year%400==0):
    print("year is leap year")
else:
    print("year is not leap year")

enter the year2000
year is leap year

In [8]:
l1=[0,1]
l2=[0,1]
l3=[0,1,2]
l4=[]

for i in l1:
    for j in l2:
        for k in l3:
            l4.append([i,j,k])
            
l4

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 1, 0],
 [0, 1, 1],
 [0, 1, 2],
 [1, 0, 0],
 [1, 0, 1],
 [1, 0, 2],
 [1, 1, 0],
 [1, 1, 1],
 [1, 1, 2]]

In [21]:
    arr=[1,2,3,5,5,6]
    max_no=max(arr)
    diff={}
    for i in arr:
        diff.update({i:(max_no-i)})
        
    list1=[values for values in diff.values() if values!=0]
    print(list1)
    min_values=min(list1)
    print(min_values)
    
    
    for keys in diff:
            if diff[keys]==min_values:
                print(keys)

[5, 4, 3, 1]
1
5

In [23]:
arr=[1,2,3,5,5,6]

l1=list(set(arr))
l1.sort(reverse=True)
l1[1]

5

In [8]:
emp={1:'robin',4:'smith',3:'aditya',2:'aarth'}

#for i in emp.values() or emp.items() or emp.keys():
    print(i)

robin
smith
aditya
aarth

In [10]:
emp={1:'robin',4:'smith',3:'aditya',2:'aarth'}
print(emp.items())

sorted_dic=sorted(emp.items(),key=(lambda x:x[1]))

#sorted_dic1=sorted(emp.items(),key=(lambda x:emp[0]))

print(sorted_dic)
#print(sorted_dic1)

dict_items([(1, 'robin'), (4, 'smith'), (3, 'aditya'), (2, 'aarth')])
[(2, 'aarth'), (3, 'aditya'), (1, 'robin'), (4, 'smith')]

In [12]:
emp={1:'robin',4:'smith',3:'aditya',2:'aarth'}
print(lambda d:d)
sorted_dic=sorted(emp,key=lambda d:d)

sorted_on_values=sorted(emp,key=(lambda x:emp[x]))
print(sorted_on_values)

<function <lambda> at 0x000002002EA672E0>
[2, 3, 1, 4]

In [10]:
string1='abcsfdcfabcfhcabccdabcmnhabc'
substring='abc'
count=0
for i in range(len(string1)-1):
    if substring==string1[i:i+len(substring)]:
        count+=1
        
count

5

In [12]:
string='akshay'

for i in range(len(string)-1):
    print(string[i])

a
k
s
h
a

In [3]:
string="akshay"
string=string[::-1]
string

'yahska'

# Count No of substrings

In [6]:
total = 0
string='ANAAANANAANANA'
sub_string='ANA'
for i in range(len(string)):
    if string[i:len(string)].startswith(sub_string):
        total += 1
total

5

In [7]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [10]:
string='qa2'
aplha=0
for i in string:
    
    if i.isalpha():
        aplha+=1
if aplha>0:
    print(True)
else:
    print(False)

True

# Textwrap function

In [26]:
string='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
width=4

import textwrap
print(textwrap.wrap(string,width))
print(textwrap.fill(string,width))

['ABCD', 'EFGH', 'IJKL', 'IMNO', 'QRST', 'UVWX', 'YZ']
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [34]:
string='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
width=4

flag=0
while flag <= len(string):
    print(string[flag:flag+width])
    flag+=width

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [38]:
s1='AABCAAADA'
width=3
import textwrap
l2=[]
l3=[]
l=textwrap.wrap(s1,width)
print(l)

for ch in l:
    l2.append(list(set(ch)))
    
    
for i in l2:
    x="".join(i)
    l3.append(x)

print(l3)

['AAB', 'CAA', 'ADA']
['AB', 'AC', 'AD']

In [51]:
s1='ADA'
l=[]
d={}
for i in s1:
    if ord(i) in d:
        d[ord(i)]+=1
    else:
        d[ord(i)]=1
        l.append(i)
l

['A', 'D']

In [44]:
print(ord('Z'))

90

# Decimal,Octal,hexadecimal,Binary

In [39]:
n=17
# for i in range(1,n+1):
#     print(i.rjust,oct(i)[2:],hex(i))
    
bin(n)

'0b10001'

In [1]:
a='hello world'
l=a.split(" ")
l

for i in l:
    i.capitalize()
    l2.append

['hello', 'world']

In [59]:
print('hello'.ljust(5))

hello

In [3]:
l=[1,1,2,2,4]
dic={}
for i in l:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
    
dic

{1: 2, 2: 2, 4: 1}

In [6]:
l=[1,1,2,2,4]
dic={}
l2=[]
count=0
for i in l:
    #dic[i]=l.count(i)
    dic.update({i:l.count(i)})
    
for i in dic.values():
    l2.append(i)
l3=[]
x=max(l2)

for i in dic:
    if dic[i]==x:
        count+=1
        
print(count)

2

In [7]:
len('substring')

9

In [8]:
n=85
x=n%10
print(x)

5

In [10]:
data=[10,25,36]
last_no=[str(i%10) for i in data]
last_no

['0', '5', '6']

In [11]:
last_no[-1]

'6'

In [3]:
l=[8,9,7,5,3,1]
l1=[5,4,2,5,1,7]
print(l.sort())
l1.sort()
print(l==l1)

None
False

In [8]:
A=[8,9,7,5,3,1]
B=[5,4,2,5,1,7]

# a=A.sort()
# b=B.sort()
# print(a)

if sorted(A)==sorted(B):
    print("1") 
else:
    print("0")

0

In [7]:
A=[8,9,7,5,3,1]
B=[5,4,2,5,1,7]
print(sorted(A))
print(sorted(B))

[1, 3, 5, 7, 8, 9]
[1, 2, 4, 5, 5, 7]

In [12]:
l=[1,2,3,7,5]
sum(l[2:5])

15

In [11]:
n = 5
s = 12
l= [1,2,3,7,5]
total=0
for i in range(5):
    total=+l[i]
    print(total)

1
2
3
7
5

In [6]:
dic={1:"A",2:"B"}
dic.keys()
print(list(dic.values()))
list(dic.items())

['A', 'B']

[(1, 'A'), (2, 'B')]

In [11]:
l=['a',"A","b","c"]
l.sort()
l1=sorted(l,reverse=True)
l1

['c', 'b', 'a', 'A']

In [21]:
l2=['a',"A","b","c"]
for i in range(len(l2)-1,-1,-1):
    print(l2[i])

c
b
A
a