In [5]:
print(20054%500)

54

# Number of notes

In [9]:
ruppes=int(input('enter the amount'))

no_2000=ruppes//2000
print('Number of 2000 notes',no_2000)
if no_2000>0:
    rem_ruppes=ruppes%2000
    
no_500=rem_ruppes//500
print('Number of 500 notes',no_500)
if no_500>0:
    rem_ruppes=ruppes%500
    
no_10=rem_ruppes//10
print('Number of 10 notes',no_10)
if no_500>0:
    rem_ruppes=ruppes%10
    
no_1=rem_ruppes//1
print('Number of 1 notes',no_1)
if no_500>0:
    rem_ruppes=ruppes%1

enter the amount4511
Number of 2000 notes 2
Number of 500 notes 1
Number of 10 notes 1
Number of 1 notes 1

# Number of Units

In [14]:
Units=int(input('Enter teh units'))

if Units<=100:
    print('NO charge')
if Units>100 and Units<200:
    charge=(Units-100)*5
    print(charge)
if Units>200:
    charge=(Units-200)*10+(100*5)
    print(charge)

Enter teh units100
NO charge

In [59]:
num=int(input('Enter the number'))
x=''
for i in range(num):
    print(x*i)
    x+str(i)

Enter the number5

In [52]:
num=int(input('Enter the number'))

for i in range(num):
    print()

Enter the number5
0
1
2
3
4

In [79]:
n=5
a=''

for i in range(1,n+1):
    a=a+str(i)
    print(a)

1
12
123
1234
12345

In [80]:
num=4
sp=n-1
for i in range(num+1):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1

   *
  **
 ***
****

In [40]:
num=4
sp=n-1
for i in range(num+1):
    print('*'*i,' '*sp,sep='')
    sp=sp-1
sp1=0
for j in range(num//2+1,0,-2):
    print('*'*j,' '*sp1,sep='')
    sp1=sp1+1

*
**
***
****
***
*

In [39]:
a=4//2+1
print(a)

3

In [23]:
n=5
sp=n//2
for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1

  *
 ***
*****

In [30]:
n=5
sp=n//2
sp1=0
for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1
for j in range(n//2+1,0,-2):
    print(' '*sp1,'*'*j,sep=' ')
    sp1=sp1+1

  *
 ***
*****
 ***
  *

In [43]:
n=5
sp1=0
for j in range(n//2+1,0,-2):
    print(' '*sp1,'*'*j,sep='')
    sp1=sp1+1

***
 *

In [67]:
l=[10,20,30,50,80]
l[2:4]
l[::-2]

[80, 30, 10]

In [70]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
x=sorted(thislist,key = myfunc)
print(x)

[50, 65, 23, 82, 100]

In [75]:
string='kdweedtyyunvasw124533'
set1=set()

for char in string:
    x=string.count(char)
    
    if  x>1:
        set1.add(char)
        
list(set1)

['d', 'y', 'w', 'e', '3']

# List

In [76]:
l=[100,200,300,400]
l[::-1]

[400, 300, 200, 100]

In [77]:
l1=[]
l2=[]
l3=[]

for e in range(150,250):
    if e%2==0:
        l1.append(e)
    if e%4==0:
        l2.append(e)
    if e%11==0:
        l3.append(e)
        
print(l1)
print(l2)
print(l3)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]
[154, 165, 176, 187, 198, 209, 220, 231, 242]

In [88]:
import math
list=[1,4,9,16,25,36]
sqrt_list=[]
for e in list:
    sqrt_list.append(int(math.sqrt(e)))
    
print(sqrt_list)

[1, 2, 3, 4, 5, 6]

In [1]:
list1=[5,6,7]
list2=[0,1]
l3=[]
for e1 in list1:
    for e2 in list2:
        a=str(e1)+str(e2)
        l3.append(a)

print(l3)
a=list(map(int, l3))
print(a)

['50', '51', '60', '61', '70', '71']
[50, 51, 60, 61, 70, 71]

In [2]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

new_list=[]

for char in list1:
    if char=="":
        list1.remove("")
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [10]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#l2=list1[2][2]
#l2.insert(2,7000)
l2=[7000]
list1[2][2].extend(l2)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [11]:
list1 = [5, 10, 15, 20, 25, 50, 20]

list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [4]:
new_list = [5, 20, 15, 20, 25, 50, 20]
for e in new_list:
    if e==20:
        new_list.remove(e)
print(new_list)

[5, 15, 25, 50]

# Prime Number

In [2]:
num=11

for i in range(num):
    if i>0:
        num%i==0
        print('Number is not Prime')
        break
else:
    print('Number is prime')

Number is not Prime

# Amstrong Number

In [4]:
num=153

str_num=str(num)
order=len(str_num)
add=0
for e in str_num:
    add+=int(e)**order
    
if add==num:
    print('Number is Amstrong')
else:
    print('Number is not Amstrong')

Number is Amstrong

# Fatorial Number

In [9]:
#1*2*3*4*5
n=5
fact=1
for i in range(2,n+1):
    fact=fact*i
print(fact)

120

# Fibonacci Series

In [10]:
#0+1+1+2+3+5+8

a=0
b=1
add=0
for i in range(10):
    print(a)
    add=a+b
    a=b
    b=add

0
1
1
2
3
5
8
13
21
34

In [23]:
def prime_num(num):
    x=int(num)
    for n in range(x):
        if n>1:
            if x%n==0:
                return False
    else:
        return True
    
def rotate_name(name):
    name=str(name)
    nm=name[-1::]+name[:-1]
    print(nm)
    

def check_num(no,nm):
    if prime_num(no)==True:
        rotate_name(nm)
    else:
        print(nm)

In [26]:
check_num(11,'akshay')

yaksha

In [29]:
name=10
name1=str(name)
print(name1)

10