In [5]:
print(20054%500)

54

# Number of notes

In [9]:
ruppes=int(input('enter the amount'))

no_2000=ruppes//2000
print('Number of 2000 notes',no_2000)
if no_2000>0:
    rem_ruppes=ruppes%2000
    
no_500=rem_ruppes//500
print('Number of 500 notes',no_500)
if no_500>0:
    rem_ruppes=ruppes%500
    
no_10=rem_ruppes//10
print('Number of 10 notes',no_10)
if no_500>0:
    rem_ruppes=ruppes%10
    
no_1=rem_ruppes//1
print('Number of 1 notes',no_1)
if no_500>0:
    rem_ruppes=ruppes%1

enter the amount4511
Number of 2000 notes 2
Number of 500 notes 1
Number of 10 notes 1
Number of 1 notes 1

# Number of Units

In [14]:
Units=int(input('Enter teh units'))

if Units<=100:
    print('NO charge')
if Units>100 and Units<200:
    charge=(Units-100)*5
    print(charge)
if Units>200:
    charge=(Units-200)*10+(100*5)
    print(charge)

Enter teh units100
NO charge

In [59]:
num=int(input('Enter the number'))
x=''
for i in range(num):
    print(x*i)
    x+str(i)

Enter the number5

In [52]:
num=int(input('Enter the number'))

for i in range(num):
    print()

Enter the number5
0
1
2
3
4

In [79]:
n=5
a=''

for i in range(1,n+1):
    a=a+str(i)
    print(a)

1
12
123
1234
12345

In [10]:
n=5
a=''
sp=n-1
for i in range(1,n+1):
    a=a+str(i)
    print(' '*sp,a,sep='')
    sp=sp-1

    1
   12
  123
 1234
12345

In [80]:
num=4
sp=n-1
for i in range(num+1):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1

   *
  **
 ***
****

In [40]:
num=4
sp=n-1
for i in range(num+1):
    print('*'*i,' '*sp,sep='')
    sp=sp-1
sp1=0
for j in range(num//2+1,0,-2):
    print('*'*j,' '*sp1,sep='')
    sp1=sp1+1

*
**
***
****
***
*

In [39]:
a=4//2+1
print(a)

3

In [23]:
n=5
sp=n//2
for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1

  *
 ***
*****

In [30]:
n=5
sp=n//2
sp1=0
for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep='')
    sp=sp-1
for j in range(n//2+1,0,-2):
    print(' '*sp1,'*'*j,sep=' ')
    sp1=sp1+1

  *
 ***
*****
 ***
  *

In [43]:
n=5
sp1=0
for j in range(n//2+1,0,-2):
    print(' '*sp1,'*'*j,sep='')
    sp1=sp1+1

***
 *

In [67]:
l=[10,20,30,50,80]
l[2:4]
l[::-2]

[80, 30, 10]

In [70]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
x=sorted(thislist,key = myfunc)
print(x)

[50, 65, 23, 82, 100]

In [75]:
string='kdweedtyyunvasw124533'
set1=set()

for char in string:
    x=string.count(char)
    
    if  x>1:
        set1.add(char)
        
list(set1)

['d', 'y', 'w', 'e', '3']

# List

In [76]:
l=[100,200,300,400]
l[::-1]

[400, 300, 200, 100]

In [77]:
l1=[]
l2=[]
l3=[]

for e in range(150,250):
    if e%2==0:
        l1.append(e)
    if e%4==0:
        l2.append(e)
    if e%11==0:
        l3.append(e)
        
print(l1)
print(l2)
print(l3)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]
[154, 165, 176, 187, 198, 209, 220, 231, 242]

In [88]:
import math
list=[1,4,9,16,25,36]
sqrt_list=[]
for e in list:
    sqrt_list.append(int(math.sqrt(e)))
    
print(sqrt_list)

[1, 2, 3, 4, 5, 6]

In [1]:
list1=[5,6,7]
list2=[0,1]
l3=[]
for e1 in list1:
    for e2 in list2:
        a=str(e1)+str(e2)
        l3.append(a)

print(l3)
a=list(map(int, l3))
print(a)

['50', '51', '60', '61', '70', '71']
[50, 51, 60, 61, 70, 71]

In [2]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

new_list=[]

for char in list1:
    if char=="":
        list1.remove("")
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [10]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#l2=list1[2][2]
#l2.insert(2,7000)
l2=[7000]
list1[2][2].extend(l2)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [11]:
list1 = [5, 10, 15, 20, 25, 50, 20]

list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [4]:
new_list = [5, 20, 15, 20, 25, 50, 20]
for e in new_list:
    if e==20:
        new_list.remove(e)
print(new_list)

[5, 15, 25, 50]

In [11]:
new_list1 = [5, 20, 15, 20, 25, 50, 20]

new_list1.insert(2,100)
print(new_list1)

[5, 20, 100, 15, 20, 25, 50, 20]

In [5]:
Str1 = '0111'
sub_str='11'
count=0
x=len(sub_str)
#print(x)

for i in range(len(Str1)):
    if sub_str==Str1[i:i+x]:
        count+=1
    
print(count)

2

In [1]:
string='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
width=4

len_str=len(string)

for i in range(len_str):
    if len(string[i:i+width])==width:
        print(string[i:i+width])
    else:
        print(string[i:])

ABCD
BCDE
CDEF
DEFG
EFGH
FGHI
GHIJ
HIJK
IJKL
JKLI
KLIM
LIMN
IMNO
MNOQ
NOQR
OQRS
QRST
RSTU
STUV
TUVW
UVWX
VWXY
WXYZ
XYZ
YZ
Z

In [17]:
#9+99+999+9999+....
num='9'
l1=[]
for i in range(1,4):
    l1.append(int(num*i))
    
print(l1)
total=sum(l1)
print(total)

[9, 99, 999]
1107

In [16]:
#d=sqrt(((x2-x1)**2)+((y2-y1)**2))

import math

p=[5,20,20,10]
#p2=[5,10]

if p[0]>p[2] :
    x=p[0]-p[2]
    
else:
    x=p[2]-p[0]
    
if p[1]>p[3]:
    y=p[1]-p[3]
else:
    y=p[3]-p[1]
    
distance=math.sqrt((x**2)+(y**2))
print(round(distance))

18

In [21]:
n=120
count=0

for i in range(1,n+1):
    if n%i==0:
        print(i)
        count+=1
print(count)

1
2
3
4
5
6
8
10
12
15
20
24
30
40
60
120
16

In [24]:
no=2
for i in range(no):
    num=int(input('Enter the number'))
    if len(str(num))==4 and num<3000:
        print("Enter number is valid {}".format(num))
    else:
        print('PLzzz Enter valid number;invalid')

Enter the number2500
Enter number is valid 2500
Enter the number36
PLzzz Enter valid number;invalid

In [20]:
import math
def prime_no(num):   
    for n in range(num):
        if n>1:
            if num%n==0:
                return 'Not prime'
    else:
        return 'prime'
    
def amstrong_no(num):
    st=str(num)
    add=0
    order=len(st)
    for e in st:
        add+=int(e)**order
        
    if add==num:
        return 'Amstrong no'
    else:
        return 'not Amstrong no'
           
def count_vol(name):
    l1=['a','e','i','o','u']
    length=len(name)
    count=0    
    for char in name:
        if char in l1:
            count+=1
        x=name.count('s')               
    if count%2!=0:
        return 1
    if x==2:
        return 2
    
def find_midvol(name):
    l1=['a','e','i','o','u']
    l=len(name)    
    char=name[l//2]
    char1=name[l//2-1]
    #print(char,char1)    
    if l%2!=0:
        if char in l1:
            return True
        else:
            return False
    else :
        if (char in l1) or (char1 in l1):
            return True
        else:
            return False
        
def check_values(list1):    
    for e in list1:
        name1,id1=e.lower().split(':')
        id1=int(id1)
        if count_vol(name1)==1:
            a=math.sqrt(id1)
            print(a)
        elif count_vol(name1)==2:
            print(prime_no(id1))
        elif find_midvol(name1)==True:
            print(amstrong_no(id1))

In [21]:
l=['akshayi:25','hss:12','rmeisk:153']

check_values(l)

5.0
Not prime
Amstrong no

In [27]:
name='akshay'

x=name.count('a')
#print(x)

#name.index('s')

if name.index('a')==name.index('a')==1:
    print('1')
    
st1='akshay:12'
name,id1=st1.lower().split(':')
print(name)
print(id1)

l=['akshay:1','rahul:2']

for e in l:

akshay
12

In [ ]:
def prime_no(num):
    
    for n in range(num):
        if n>1:
            if num%n==0:
                return 'Not prime'
    else:
        return 'prime'

In [53]:
prime_no(11)

'prime'

In [18]:
def find_midvol(name):
    l1=['a','e','i','o','u']
    l=len(name)
    
    char=name[l//2]
    char1=name[l//2-1]
    #print(char,char1)
    
    if l%2!=0:
        if char in l1:
            return True
        else:
            return False
    else :
        if (char in l1) or (char1 in l1):
            return True
        else:
            return False

In [19]:
find_midvol('omyyar')

False

In [23]:
import sympy
a=sympy.isprime(11)
print(a)

True