In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [2]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [3]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(4, "custerapple")
print(thislist)

['apple', 'banana', 'cherry', 'custerapple']

In [7]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [8]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [12]:
thislist = ["apple", "banana", "cherry"]
thisdic = {1:"kiwi", 2:"orange"}
thislist.extend(thisdic.values())
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [13]:
l1=[1,2,3,4,5]
l1.insert(2,10)

print(l1)

[1, 2, 10, 3, 4, 5]

In [14]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [22]:
l1=[1,2,12,51,32,47,41]
l2=[]
for e in l1:
    if 1 in l1:
        l2.append(e)
        
print(l2)

[1, 2, 12, 51, 32, 47, 41]

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [23]:
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
x=sorted(thislist,key = myfunc)
print(x)

[50, 65, 23, 82, 100]

In [24]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
x=sorted(thislist,key = str.lower)
print(x)

['banana', 'cherry', 'Kiwi', 'Orange']

In [25]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
l1=[]
l1=thislist
print(l1)

['banana', 'Orange', 'Kiwi', 'cherry']

In [26]:
thislist = ["banana", "Orange", "Kiwi", "cherry",2,45]

print(l1)

['banana', 'Orange', 'Kiwi', 'cherry']

In [27]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [28]:
print(mylist)

['apple', 'banana', 'cherry']

In [33]:
thislist = ["apple", "banana", "cherry",25,78]

In [34]:
print(mylist)

['apple', 'banana', 'cherry']

In [31]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [32]:
print(list1+list2)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [35]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [36]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [37]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# unpacking of Tuple

In [38]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [39]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [40]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [43]:
fruits = ("apple", "banana", "cherry")

x = fruits.count('a')

print(x)

0

# Dictionaries

In [44]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020----------------->#no dupicate keys
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [45]:
print(len(thisdict))

3

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [50]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [52]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white" ------------------># adding new key value

print(x) #after the change

print(car)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [53]:
print(car.values())

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [54]:
print(car.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [58]:
for x in thisdict:
  print(thisdict[x])

Ford
1964

In [59]:
for x in thisdict:
  print(x)

brand
year

# creating a dic taking i/p from user

In [61]:
emp={}

for i in range(4):
    name=input("enter the name")
    salary=int(input('enter the salary'))
    
    emp[name]=salary
    
print(emp)

enter the namesmith
enter the salary1200
enter the nameJon
enter the salary4500
enter the namejerry
enter the salary7800
enter the namekira
enter the salary6300
{'smith': 1200, 'Jon': 4500, 'jerry': 7800, 'kira': 6300}

7. Find all overlapping occurrences of given substring in given string
Ex.
String = 0111
Substring = 11
Expected answer : 2
String : ANANAAAANNN
Substring: ANA
Expected answer : 2
String : ANANAAAANNN
Substring: AA
Expected answer : 3

In [16]:
string='ANANAAAANNNANA'
substring='ANA'

count=0

x=len(substring)

for i in range(len(string)):
    if substring==string[i:i+x]:
        count+=1

print(count)

3

9. Find all mobile number mentioned in given paragraph of text
Mobile number is always a 10 digit number no spaces no special characters
Ex. Input= “this is a good number 9089786756 and 8900000000 is a desired number”
Expected output: 9089786756 , 8900000000

In [25]:
string='this is a good number 9089786756 and 8900000000 is a desired number'
list_str=string.split()

for e in list_str:
    if (len(e)==10):
        print(e)

9089786756
8900000000

In [2]:
str_1='abcd'

print(list(str_1))

['a', 'b', 'c', 'd']