In [4]:
n=7
sp=n//2

for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep=" ")
    sp=sp-1

    *
   ***
  *****
 *******

In [24]:
#Split values

a=input("Enter the names with spaces")
x=a.split()
print(x)

j=''.join(x)
print(j)

Enter the names with spacesakshay rahul smith
['akshay', 'rahul', 'smith']
akshayrahulsmith

In [2]:
n=5

for i in range(n):
    if i>1:
        if n%i==0:
            print('not a prime no')
            break
else:
    print('prime no')

prime no

In [3]:
#Amstrong no
add=0
no=153
s1=str(no)
order=len(s1)

for i in s1:
    add=add+int(i)**order
    
if add==no:
    print('1')
else:
    print('2')

1

In [6]:
#palidrome string

string='nitin1'

rev_string=string[::-1]

if string==rev_string:
    print('palidrome')
else:
    print('not')

not

In [9]:
#factorial 1*2*3*4*5
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
    
print(fact)

120

In [13]:
#fibonacci series 0,1,1,2,3,5,8,13

n=10
a=0
b=1
add=0
for i in range(n):
    print(a)
    add=a+b
    a=b
    b=add

0
1
1
2
3
5
8
13
21
34

In [21]:
def fun(n):
    return abs(n-50)

l=[20,45,100,80,60]
s=sorted(l,key=fun)
s

[45, 60, 20, 80, 100]

In [31]:
#WAP to find unique numbers in an array and count their occurance.

l=[20,56,4,8,20,6,9,4,8,6,9,'a','g','a','c','d','e']
st1=set()

for i in l:
    if type(i)==type(1):
        x=l.count(i)
        if x>1:
            st1.add(i)
    else:
        break
        
    
print(list(st1))

[4, 6, 8, 9, 20]

In [8]:
sentence='Hi i am akshay how are u buddy...!!!'
x=sentence.lower()

set1=set(x)
#print(set1)
l1=list(set1)
print(l1)

for e in l1:
    if e.isalpha():
        cnt=x.count(e)
        
        if cnt>1:
            print(e,cnt, sep="   ")

['a', 'e', 'w', 'u', 'b', '.', 'd', 'r', '!', 'o', 'k', 'y', 'h', ' ', 's', 'm', 'i']
a   4
u   2
d   2
y   2
h   3
i   2

In [13]:
l=['jon','ravi','akshay','smith']

s1=sorted(l,key=(lambda l2:l2[-1]))
s1

['smith', 'ravi', 'jon', 'akshay']

In [25]:
emp={1:'robin',4:'smith',3:'aditya',2:'aarth'}

print(sorted(emp))

s1=sorted(emp,key=(lambda x:emp[x]))
print(s1)

s2=sorted(emp.items(),key=(lambda x:x[0]))
print(s2)

s3=sorted(emp.items(),key=(lambda x:x[1]))
s3

[1, 2, 3, 4]
[2, 3, 1, 4]
[(1, 'robin'), (2, 'aarth'), (3, 'aditya'), (4, 'smith')]

[(2, 'aarth'), (3, 'aditya'), (1, 'robin'), (4, 'smith')]